
       <Trasmissione tipo="{{tipo}}"/>
	   <Erogatore>
		   <CodiceRegione>{{reg_erog}}</CodiceRegione>
		   <CodiceASL>{{as_erog}}</CodiceASL>
		   <StrutturaErogatrice>{{strut_erog}}</StrutturaErogatrice>
	   </Erogatore>
	   <Erogazione>
		   <AnnoErogazione>{{anno_erog}}</AnnoErogazione>
		   <OreErogate>
			   <OreErogateMMGPLS>{{ore_tot_mmgpls}}</OreErogateMMGPLS>
			   <OreErogateMedicoSpecialista>{{ore_tot_medspec}}</OreErogateMedicoSpecialista>
			   <OreErogateInfermiere>{{ore_tot_inferm}}</OreErogateInfermiere>
			   <OreErogateOSS>{{ore_tot_operss}}</OreErogateOSS>
			   <OreErogateFisioterapista>{{ore_tot_fisio}}</OreErogateFisioterapista>
			   <OreErogateLogopedista>{{ore_tot_logop}}</OreErogateLogopedista>
			   <OreErogateTerapistiNeuroPsicomotricitaEtaEvolutiva>{{ore_tot_terap_neuro}}</OreErogateTerapistiNeuroPsicomotricitaEtaEvolutiva>
			   <OreErogateTecnicoRiabilitazionePsichiatrica>{{ore_tot_tecn_riab_psico}}</OreErogateTecnicoRiabilitazionePsichiatrica>
			   <OreErogateTerapistaOccupazionale>{{ore_tot_terap_occup}}</OreErogateTerapistaOccupazionale>
			   <OreErogatePsicologo>{{ore_tot_psico}}</OreErogatePsicologo>
			   <OreErogateAssistenteSociale>{{ore_tot_assistsoc}}</OreErogateAssistenteSociale>
			   <OreErogateEducatoreProfessionale>{{ore_tot_educprof}}</OreErogateEducatoreProfessionale>
			   <OreErogateAltroProfessionistaSanitario>{{ore_tot_altro}}</OreErogateAltroProfessionistaSanitario>
		   </OreErogate>
	   </Erogazione>